doctype
html
	head
		title="Unihack Git Commits"
		link(href='/styles/main.css', type='text/css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300', type='text/css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Ubuntu+Mono', type='text/css', rel='stylesheet')
		
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(type='text/javascript', src='/scripts/md5.min.js')
		script(type='text/javascript',  src='socket.io/socket.io.js')
		script(type='text/javascript',  src='/scripts/main.js')
	body
		div#content
			img(src="/img/hack-logo.png", class="unihacklogo")
			h2="Commits Feed"
			ul#commits
				
						
					
					
					


